NODE_ENV=development
HOST=localhost
PORT=3900

# Tenant
TENANT_HEADER_NAME=x-tenant-id
TENANT_SCHEMA_PREFIX=tenant_

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=multitenant_db
DB_SYNC=false
DB_LOGGING=false

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d